html {
    font: 500 14px 'Microsoft Yahei';
    color: #333;
    background-color: #fafafa;
}
ul, ol, li {
    list-style: none;
    padding: 0;
    margin: 0;
}
.calendar {
    position: relative;
    background: #fdfdfd;
    border: 1px solid #e8e8e8;
    box-shadow: 1px 2px 3px #ddd;
    padding: 10px;
    z-index: 10;
    text-align: center;
    display: none;
}
.calendar_title,.calendar .date .week,.calendar .date .days,.calendar .month{
    overflow: hidden;
}
.calendar_display,.calendar .week li,.calendar .days li,.calendar .month li {
    float: left;
}
.calendar_arrow {
    float: right;
}
.view_date,.view_month{
    transform: rotateY(0deg);
    -webkit-transition: .6s;
    transition: .6s;
    backface-visibility: hidden;
}
.view_month{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
}
.calendar_day .view_date,.calendar_month .view_month {
    transform: rotateY(0deg);
    visibility: visible;
    z-index: 2;
}
.calendar_day .view_month,.calendar_month .view_date {
    transform: rotateY(180deg);
    visibility: hidden;
    z-index: 1;
}
.calendar_title {
    padding: 10px;
    font-size: 28px;
    color: #ddd;
    line-height: 30px;
}
.calendar .calendar_body{
    line-height: 40px;
}
.calendar .week li,.calendar .days li {
    width: 14.2857%;
}
.calendar .month li {
    width: 25%;
}
.calendar li.old[disabled],.calendar li.new[disabled] {
    color: #bbb;
    background: #f9f9f9;
}
.calendar .now {
    color: #fff;
    background: #cacaca!important;
    box-shadow: #bfcad2 0 1px 3px 0 inset;
}
.calendar .selected {
    color: #fff;
    background: #8bcdfd!important;
    box-shadow: #6bbdf9 0 1px 3px 0 inset; 
}
.closeBtn{
    display: inline-block;
    width: 100px;
    color: #fff;
    background: #33aaff;
    border-radius: 5px;
    line-height: 25px;
}
